@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500&display=swap');
/* *** VARIABLES *** */
/* COLORS */
$main-green: #4a9328;
$main-white: #f4f4f9;
$main-black: #455848;

/* FONTS */
$main-font: 'Montserrat',
serif;

/* BORDERS */
$large-padding: 1.2rem .2rem;