@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');
/* *** VARIABLES *** */
/* COLORS */
$main-green: #4a9328;
$main-white: #e3f8fa;
$main-black: #39443b;

/* FONTS */
$main-font: 'Noto Sans', sans-serif;

/* BORDERS */
$large-padding: 1.2rem .2rem;